# Compiled Executables (Windows)
*.exe
*.out
*.app
struct.exe
struct

# Object files and Libraries
*.o
*.obj
*.a
*.lib

# Debug symbols and IDE folders
.vscode/
*.dSYM/
.DS_Store

# Intermediate build files
*.i
*.s